html, body {
    margin: 0px;
    background-color: #ddd;
    padding: 0px;
    overflow: hidden;
    
}

.marcoCPLV {
    position:absolute;
    float: left;
    z-index: 10;
    height: 100% !important;
    width: 100%;
    background-image: url('../src/assets/img/nuevo layaut_Frame 768 x 904.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.marco {
    position:absolute;
    float: left;
    z-index: 10;
    height: 100% !important;
    width: 100%;
    background-image: url('../src/assets/img/nuevo layaut_Frame 768 x 452.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#carouselExampleInterval1{
    height: 66.6666vh;
}

